{* This is the welcome page, you can delete it *}
{block content}
<div id="content">
	<h2>Edit Date Time Setting</h2>
	<div class="boxes">		
		{control dateTimeSetting}
	</div>
</div>
{/block}

{block scripts}
{include parent}

{/block}
{block head}

{/block}